target/
!.mvn/wrapper/maven-wrapper.jar
*.war
target
test.db
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
classes
lib
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
rebel.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

### Log&Others ###
*.log
.DS_Store
*.tmp
rebel*.xml